<div class="content navbar">
    <div class="wrapper">
        <div class="home"><a [routerLink]="['/']">DalongPlus.net</a></div>
        <div class="gradesMain">
            Main Grades:
            <a [routerLink]="['products/hg']">HG</a> |
            <a [routerLink]="['products/rg']">RG</a> |
            <a [routerLink]="['products/eg']">EG</a> |
            <a [routerLink]="['products/mg']">MG</a> |
            <a [routerLink]="['products/re']">RE/100</a> |
            <a [routerLink]="['products/fm']">1/100 FM</a> |
            <a [routerLink]="['products/pg']">PG</a> |
            <a [routerLink]="['products/sd']">SD</a> |
            <a [routerLink]="['products/ng']">NG</a> |
        </div>
        <div class="gradesOther">
            Other Grades:
            <a [routerLink]="['products/msm']">MSM</a> |
            <a [routerLink]="['products/hirm']">HiRM</a> |
            <a [routerLink]="['products/fg']">FG</a> |
            <a [routerLink]="['products/ag']">AG</a> |
            <a [routerLink]="['products/sg']">SG</a> |
            <a [routerLink]="['products/ex']">EX</a> |
            <a [routerLink]="['products/uchg']">UCHG</a> |
            <a [routerLink]="['products/gc']">GC</a> |
            <a [routerLink]="['products/hy2m']">HY2M</a> |
        </div>
    </div>
</div>

