.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 8px;
}
.home{
    font-size: 24px;
    font-weight: bold;
    vertical-align: bottom;
}
.navMiddle {
    margin: 0 16px 0 0;
}
.navEnd {
    margin: 0 0 0 16px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.logo {
    height: 64px;
    vertical-align: middle;
}
