<div class="content">
    @if(product){
        <h3>{{ getProductLineName() }}</h3>
        <div class="wrapper">
            <ng-template ngFor let-number [ngForOf]="[].constructor(product?.fields?.modelKits.kits.length)" let-i="index">
            <div class="card">
                <div class="image">
                    <a [routerLink]="['/reviews', product?.fields?.['acronym'], getReviewUrl(product?.fields?.['acronym'],i)]">
                        <img [src]="getPreviewImage(i)">
                    </a>
                </div>
                    <div class="text">
                        <a [routerLink]="['/reviews', product?.fields?.['acronym'],getReviewUrl(product?.fields?.['acronym'],i)]">{{(i+1)}}. {{getModelKitName(i)}}</a>
                    </div>
                </div>
            </ng-template>
        </div>
    }
</div>